@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family:'Raleway';
}

main{
    background-color: #EBEBEB;
    text-align: center;
    width: 50%;
    margin-top: 150px;
    padding-bottom: 40px;
    margin-bottom: 150px;
}
main h1{
    font-weight: 600;
    font-size: 60px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    margin: 15px 2px;
    width: 60%;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 12pt;
    border: 0px;
}

form input[type="submit"]{
    background-color: #A2A2A2;
    color: #FFFFFF;
    font-weight: bold;
    width: 40%;
    cursor: pointer;
}